http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
<h1>Prueba GIT</h1>
<p>Primera práctica de GIT</p>
<p>
<h2>Primera práctica de GIT</h2>
Prueba de modificación de archivos y comprobación de
estados.
-
-
-

<h2>Párrafo 2</h2>
<p>
Segundo párrafo.
</p>
Tercer párrafo (desde GitLab)
</p>
</body>
</html>